

.cursor-pointer1 {
    cursor: pointer;
}
input::placeholder {
    color: #999;                     /* צבע אחיד למקום המילוי */
    opacity: 1;                       /* מונע שינוי צבע אוטומטי בדפדפן */
}

input {
    color: #231f20 !important; /* צבע קבוע לטקסט */
}

/* Placeholder */
input::placeholder {
    color: #999 !important;
    opacity: 1;
}

/* פוקוס */
input:focus {
    color: #231f20 !important;
}

/* אוטופיל של הדפדפן */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0px 1000px white inset; /* רקע אחיד */
    -webkit-text-fill-color: #231f20 !important;   /* צבע טקסט קבוע */
}
