/* current-apartment.css */
.container {
    max-width: 600px; /* הקטנה מרוחב 800px */
    margin: 20px auto; /* הקטנה מרווח 50px */
    padding: 20px; /* הקטנה מרווח פנימי */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    direction: rtl;
    text-align: right;
}

.custom-modal .modal-content {
    height: 85vh; /* הקטנה מגובה מלא */
    max-width: 600px; /* רוחב נמוך יותר */
    margin: auto;
}

.header {
    font-size: 28px !important; /* הקטנה מגודל 35px */
    color: #333;
    margin-right: 20px;
}

.custom-modal .modal-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* הקטנה */
    overflow-y: auto;
    padding: 10px 15px; /* הקטנה */
}

h3 {
    font-size: 20px; /* הקטנה */
    margin-bottom: 15px;
}

p {
    font-size: 14px; /* הקטנה */
    line-height: 1.4;
    margin: 8px 0;
}

.label {
    font-weight: lighter !important;
    font-size: 0.9rem; /* הקטנה */
}

input.text-primary,
textarea.text-primary {
    font-size: 0.9rem; /* הקטנה */
    padding: 6px 8px; /* הקטנה */
}

.h-date {
    font-size: 1rem; /* הקטנה */
}

.color-black {
    background: linear-gradient(360deg, #262626 0%, #464646 100%);
}

.color-weakblack {
    background: #686767 !important;
}

.custom-hover:hover {
    background: #525151 !important;
}

.form-check-input {
    width: 20px;
    height: 20px;
    border: 2px solid black !important; /* חובה ל-!important */
    border-radius: 50%;
    background-color: white;
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

