/* current-apartment.css */
/* .color-body{
    background: #f1f1f1 !important;
} */

.container {
    max-width: 800px;
    margin: 0 auto;
    /* מרכז את התוכן */
    padding: 30px;
    /* background: #f1f1f1 !important; */

    /* background: #fff  !important; */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    direction: rtl;
    /* כיוון טקסט מימין לשמאל */
    text-align: right;
    /* יש למרכז את כל הטקסט מימין לשמאל */
    margin: 50px;
}

.custom-modal .modal-content {
    height: 93vh;
    /* גובה מלא של הדף */

}

.header {
    font-family: 'open sans hebrew regular';
    font-size: 35px !important;
    color: #333;
    margin-right: 30px;
}

.color-black {
    background: linear-gradient(360deg, #262626 0%, #464646 100%);
}

.label {
    font-weight: lighter !important;
}

.custom-modal .modal-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.custom-modal .modal-header,
.custom-modal .modal-footer {
    flex-shrink: 0;
}

h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin: 10px 0;
    color: #555;
}

strong {
    font-weight: bold;
    color: #222;
}

/* הוספת עיצוב לשדות מידע */
p span {
    color: #007bff;
    font-weight: normal;
}
.container.color-body{
    background: #f3efef !important;
}
.color-weakblack{
    background: #686767 !important;
}
.custom-hover:hover {
    background: #525151 !important;
}
input.text-primary {
    color: blue !important;
}
.h-date{
    font-size: calc(1.275rem + .1vw);
}
@media (min-width: 1400px) {
    .header {
        font-size: 38px !important;
    }
    h3 {
        font-size: 26px;
    }
    p {
        font-size: 17px;
    }
}

/* מסכים בינוניים */
@media (min-width: 1200px) and (max-width: 1399px) {
    .header {
        font-size: 36px !important;
    }
    h3 {
        font-size: 25px;
    }
    p {
        font-size: 16px;
    }
}

/* מסכים קטנים יותר של מחשב */
@media (min-width: 992px) and (max-width: 1199px) {
    .header {
        font-size: 34px !important;
    }
    h3 {
        font-size: 24px;
    }
    p {
        font-size: 15px;
    }
}