/* CSS מותאם אישית */
.custom-navbar {
    /* position: fixed; */
    top: 0; /* או bottom: 0 אם רוצים להצמיד מלמטה */
    left: 0; /* או right: 0 אם רוצים להצמיד מימין */
    z-index: 1000; /* לקביעת סדר הציור של ה-<div> מעל אלמנטים אחרים */
    width: 100%; /* לכיסוי כל רוחב הדף */
    background-color: #fff; /* צבע הרקע הרצוי */
    padding: 10px 0; /* מספק מרווח סביב ה-<div> */
}

.ul-padding {
    padding-left: 20%;
}

ul {
    text-align: center;
    list-style-type: none; /* מסיר את הנקודות */
    padding: 0; /* מסיר רווחים פנימיים */
    margin: 0; /* מסיר רווחים חיצוניים */
}

ul li a {
    text-decoration: none; /* מסיר את הקו תחתון מהקישורים */
    color: inherit; /* שומר על הצבע המקורי של הטקסט */
}
.color-linear{
    color: linear-gradient(360deg, #262626 0%, #464646 100%) !important;

}