/* מיכל הטבלה */
.table-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* הטבלה בחלק העליון */
    align-items: center;
    min-height: 100vh; /* המיכל יתפוס את כל גובה המסך */
    padding: 20px;
    background-color: #f9f9f9;
}
.table {
    background-color: #f9f9f9;
    width: 100%;
    max-width: 1200px; /* הגבלת רוחב */
    margin-top: 20px;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden; /* עיגול קצוות */
    padding: 30px;
}


.table th,
.table td {
    padding: 12px;
    text-align: right;
    border: 1px solid #ddd;
}

.table-header-extra{
    background-color: rgba(103, 113, 120, 1) !important;
   margin: 0 !important; /* הסרת מרווחים */
   padding: 0 !important; /* הסרת ריווחים פנימיים */
}


.dropdown-menu-options {
    max-height: 300px;
    overflow-y: auto;
    position: relative;
}

th.sortable-column {
    padding-right: 20px; /* ריווח לחיצים */
    white-space: nowrap; /* מניעת שורה חדשה */
    min-width: 120px; /* רוחב מינימלי */
}
