/* 转爪转 拽驻 转 */
.cards-view-container {
  display: flex;
  align-items: flex-start; /* 砖  砖住  转 转 拽驻 */
  padding: 5rem;
  gap: 2rem;
  direction: rtl;
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
}

/* 住 爪 */
.sidebar-filters {
  width: 250px;
  background: #ffffff;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  position: sticky;
  top: 2rem;
  height: fit-content;
}

.cards-wrapper {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 3.5rem;
  align-items: stretch; /*  砖  砖 专 专专转 ,  转 住祝 */
}


/*  拽祝 */
.card-box {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s ease;
  line-height: 1.5;

}

.card-box:hover {
  transform: translateY(-5px);
}

.card-box h5 {
  margin-bottom: 0.5rem;
  color: #1d3557;
  font-weight: 900;
}

.card-box p {
  margin: 0.4rem 0;
  font-size: 0.95rem;
}

.card-box strong {
  color: #2b2d42;
}
.card-box.no-wanted-apartment {
  border: 2px dashed #9A14B0;
  background-color: #f3f0fa;
}

.card-box .no-wanted-label {
  background-color: #fffdff;
  color: white;
  padding: 0.4rem 0.6rem;
  border-radius: 6px;
  font-weight: bold;
  text-align: center;
  margin: 1rem 0;
}

.card-box a {
  margin-top: 1rem;
  align-self: flex-start;
  color: #007bff;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.2s;
}

.card-box a:hover {
  color: #0056b3;
}

/* 驻转专 拽 住 */
.sidebar-filters button {
  width: 100%;
  background-color: #6c757d;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: background-color 0.2s;
}

.sidebar-filters button:hover {
  background-color: #5a6268;
}
